*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Africa.avif);
    background-size: cover;
    background-position: center;
}
.nav-bar{
    display: flex;
    align-items: center;
    padding: 35px 0;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.nav-bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.nav-bar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.nav-bar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
}
.content h1{
    font-size: 70px;
    margin-bottom: 80px;
}
.content p{
    font-weight: 100;
    margin:auto;
    line-height: 25px;
    font-size: 20px;
}
button{
    padding: 15px 0px;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: 40px 20px 0 20px;
    width: 200px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
}

button span{
    color: #009688;
    background-color: #009688;
    border-radius: 25px;
    height: 100%;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease;
    z-index: -1;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

